<<<<<<< HEAD
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
=======
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
>>>>>>> 53d1e463bc7962ac1705ca7a1c856756cd30a6b7
}