<<<<<<< HEAD
.footer {
    background-color: #1a202c;
    color: #a0aec0;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
=======
.footer {
    background-color: #1a202c;
    color: #a0aec0;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
>>>>>>> 53d1e463bc7962ac1705ca7a1c856756cd30a6b7
}